@charset "UTF-8";

/* 인트로 */
.app-main.intro {padding-bottom: 0;}
.intro .container {padding: 0;}
.intro-wrap {height: 100vh; background: #fff;}
.btn-sub-close {width: 100%; height: 5rem; margin-top: -1.6rem; line-height: 5rem; font-size: 1.5rem; color: #7d8585; text-decoration: underline; background: #fff; text-align: center; display: block;}

.intro-slide-wrap {height: 100%; position: relative;}
.intro-slide-wrap img {opacity: 0;}
.intro-slide-wrap .slick-active img {opacity: 1;}
.intro-slide-wrap .slick-list,
.intro-slide-wrap .slick-track,
.intro-slide-wrap .slick-slide,
.intro-slide-wrap .slick-slide > div {height: 100%;}
.intro-slide-wrap .slick-slide {transition: none !important; -webkit-transition: none !important;}
.intro-slide-wrap .slick-slide .intro-slide {height: 100%; background: #fff;}
.intro-slide-wrap .slick-dots {width: 100%; height: 0.6rem; text-align: center; position: absolute; top: 3.2rem; left: 0; display: inline-block;}
.intro-slide-wrap .slick-dots > li {width: 0.6rem; height: 0.6rem; font-size: 0; display: inline-block; vertical-align: top; border-radius: 0.3rem; overflow: hidden; background: #4d5980; opacity: 0.1;}
.intro-slide-wrap .slick-dots > li + li {margin-left: 0.6rem;}
.intro-slide-wrap .slick-dots > li.slick-active {width: 2.4rem; height: 0.6rem; border-radius: 0.3rem; background: #2f3333; opacity: 1;}

.intro-slide-wrap .intro-slide {height: 100%;}

.intro-slide .intro-tit-area {font-size: 0; white-space: nowrap;}
.intro-slide .intro-tit-area .tit-area {width: 100%; display: inline-block; white-space: inherit;}
.intro-slide .tit-area {padding-top: 8.3rem; text-align: center;}
.intro-slide .tit-area .tit {width: 100%; margin-top: 0.4rem; padding: 0 4rem; font-size: 2.4rem; color: #171a1a; font-weight: 700; line-height: 1.4; white-space: normal; word-break: keep-all; word-wrap: break-word;}
.intro-slide .tit-area .sub-tit {width: 100%; padding: 0 4rem; font-size: 1.8rem; color: #9ca6a6; font-weight: 600; white-space: normal; word-break: keep-all; word-wrap: break-word;}

.intro-slide .phone-wrap {width: 27.2rem; height: 44.8rem; margin-left: -13.6rem; padding-top: 1.4rem; background: url(../images/intro/phone_bg@2x.png) 50% 50% no-repeat; background-size: 27.2rem auto; text-align: center; position: absolute; top: 21.4rem; left: 50%; z-index: 2; opacity: 0;}
.slick-active .intro-slide .phone-wrap {opacity: 1;}
.intro-slide .phone-area {width: 20rem; height: 40.6rem; display: inline-block; border-radius: 2.7rem; overflow: hidden;}
.intro-slide .phone-area .phone-img {width: 40rem; white-space: nowrap; font-size: 0; background: #fff;}
.intro-slide .phone-area .img-area {width: 20rem; height: 40.6rem; display: inline-block;}

.intro-slide .phone-area .img-area img {width: 100%; margin-top: -1.8rem; object-fit: contain;}
.intro-slide i[class^="intro-bg"] {width: 24rem; height: 24rem; display: inline-block; position: absolute;}
.intro-slide i.intro-bg-front {bottom: 52px; left: -79px; z-index: -1; background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat;}
.intro-slide i.intro-bg-back {bottom: 204px; right: -61px; z-index: -1; background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat;}
.slick-active .intro-slide i.intro-bg-front {z-index: 3;}
.slick-active .intro-slide i.intro-bg-back {z-index: 1;}
.intro-slide i.intro-bg-front.color-type1 {background-image: url(../images/intro/obj_front_01@2x.png);}
.intro-slide i.intro-bg-front.color-type2 {background-image: url(../images/intro/obj_front_02@2x.png);}
.intro-slide i.intro-bg-front.color-type3 {background-image: url(../images/intro/obj_front_03@2x.png);}
.intro-slide i.intro-bg-front.color-type4 {background-image: url(../images/intro/obj_front_04@2x.png);}
.intro-slide i.intro-bg-front.color-type5 {background-image: url(../images/intro/obj_front_05@2x.png);}

.intro-slide i.intro-bg-back.color-type1 {background-image: url(../images/intro/obj_back_01@2x.png);}
.intro-slide i.intro-bg-back.color-type2 {background-image: url(../images/intro/obj_back_02@2x.png);}
.intro-slide i.intro-bg-back.color-type3 {background-image: url(../images/intro/obj_back_03@2x.png);}
.intro-slide i.intro-bg-back.color-type4 {background-image: url(../images/intro/obj_back_04@2x.png);}
.intro-slide i.intro-bg-back.color-type5 {background-image: url(../images/intro/obj_back_05@2x.png);}

@media (max-width: 374px) {
    .intro-slide .tit-area {padding-top: 6.4rem;}
    .intro-slide .phone-wrap {top: 18rem;}
}
@media (max-width: 359px) {
    .intro-slide .tit-area {padding-top: 6rem;}
    .intro-slide .phone-wrap {top: 16.5rem;}
}

/* - 인트로 : 첫 진입 시 */
.slick-active .intro-slide.first {
    opacity: 0;
    animation-name: introFirstFade; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 0.2s; -webkit-animation-duration: 0.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
.slick-active .intro-slide.first .phone-wrap {
    opacity: 0;
    left: 100%;
    animation-name: introFirstSlide; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 0.5s; -webkit-animation-duration: 0.5s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
.slick-active .intro-slide.first .motion-type1 {opacity: 0;}

@keyframes introFirstFade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes introFirstFade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes introFirstSlide {
    0% {
        opacity: 0;
        left: 100%;
    }
    100%{
        opacity: 1;
        left: 50%;
    }
}
@-webkit-keyframes introFirstSlide {
    0% {
        opacity: 0;
        left: 100%;
    }
    100%{
        opacity: 1;
        left: 50%;
    }
}

/* - 인트로(공통) : 폰 비주얼 영역 */
.slick-active .intro-slide .phone-area .phone-img {
    animation-name: introPhotoMove; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 2s; -webkit-animation-duration: 2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
.slick-active .intro-slide.first .phone-area .phone-img {
    animation: none;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
}
@keyframes introPhotoMove {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    100%{
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}
@-webkit-keyframes introPhotoMove {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    100%{
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

/* - 인트로(공통) : 서브 타이틀 영역 */
.slick-active .intro-slide .intro-tit-area {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation-name: introTitNextMove; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 1.2s; -webkit-animation-duration: 1.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}

.slick-active .intro-slide .intro-tit-area .tit-area.prev .tit {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
}

@keyframes introTitPrevMove {
    0% {
        padding-right: 5rem;
    }
    100%{
        padding-right: 0rem;
    }
}
@-webkit-keyframes introTitPrevMove {
    0% {
        padding-right: 5rem;
    }
    100%{
        padding-right: 0rem;
    }
}

@keyframes introTitNextMove {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes introTitNextMove {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

/* - 인트로(공통) : 배경 영역 */
.slick-active .intro-slide i.intro-bg-front.prev {
    opacity: 1;
    transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);

    animation-name: introBgFrontMovePrev; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 1.2s; -webkit-animation-duration: 1.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
@keyframes introBgFrontMovePrev {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-100%) rotate(-180deg);
        -webkit-transform: translateX(-100%) rotate(-180deg);
    }
}
@-webkit-keyframes introBgFrontMovePrev {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-100%) rotate(-180deg);
        -webkit-transform: translateX(-100%) rotate(-180deg);
    }
}

.slick-active .intro-slide i.intro-bg-back.prev {
    opacity: 1;
    transform: translateX(-100%) rotate(-180deg);
    -webkit-transform: translateX(-100%) rotate(-180deg);

    animation-name: introBgBackMovePrev; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 1.2s; -webkit-animation-duration: 1.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
@keyframes introBgBackMovePrev {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
    100%{
        opacity: 0;
        transform: translateX(100%) rotate(180deg);
        -webkit-transform: translateX(100%) rotate(180deg);
    }
}
@-webkit-keyframes introBgBackMovePrev {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
    100%{
        opacity: 0;
        transform: translateX(100%) rotate(180deg);
        -webkit-transform: translateX(100%) rotate(180deg);
    }
}

.slick-active .intro-slide i.intro-bg-front.next {
    transform: translateX(-100%) rotate(-180deg);
    -webkit-transform: translateX(-100%) rotate(-180deg);

    animation-name: introBgFrontMoveNext; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 1.2s; -webkit-animation-duration: 1.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
@keyframes introBgFrontMoveNext {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-180deg);
        -webkit-transform: translateX(-100%) rotate(-180deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
}
@-webkit-keyframes introBgFrontMoveNext {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-180deg);
        -webkit-transform: translateX(-100%) rotate(-180deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
}

.slick-active .intro-slide i.intro-bg-back.next {
    transform: translateX(100%) rotate(180deg);
    -webkit-transform: translateX(100%) rotate(180deg);

    animation-name: introBgBackMoveNext; 
    animation-delay: 0s; -webkit-animation-delay: 0s;
    animation-duration: 1.2s; -webkit-animation-duration: 1.2s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
}
@keyframes introBgBackMoveNext {
    0% {
        opacity: 0;
        transform: translateX(100%) rotate(180deg);
        -webkit-transform: translateX(100%) rotate(180deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
}
@-webkit-keyframes introBgBackMoveNext {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-180deg);
        -webkit-transform: translateX(-100%) rotate(-180deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotate(0);
        -webkit-transform: translateX(0) rotate(0);
    }
}

/* - 인트로 : 슬라이드 모션1 */
.intro-wrap .motion-type1 {width: 10rem; height: 5.8rem; position: absolute; top: 1rem; right: 0.4rem; z-index: -1;}
.intro-wrap .motion-type1 img {width: 100%; height: auto;}

.slick-active .intro-slide .motion-type1 {
    z-index: 4;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    animation-name: introScaleMove; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.5s; -webkit-animation-duration: 0.5s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}
@keyframes introScaleMove {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes introScaleMove {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/* - 인트로 : 슬라이드 모션2 */
.intro-wrap .motion-type2 {width: 23rem; height: 18.2rem; margin-left: -11.5rem; position: absolute; top: 5.3rem; left: 50%; z-index: -1; overflow: hidden;}
.intro-wrap .motion-type2 img {width: 100%; height: auto; object-fit: cover;}
.slick-active .intro-slide .motion-type2 {
    z-index: 4;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    animation-name: introScaleMove2; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.8s; -webkit-animation-duration: 0.8s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}
@keyframes introScaleMove2 {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    10%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    95%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100%{
        opacity: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes introScaleMove2 {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    10%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    95%{
        opacity: 1;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100%{
        opacity: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
/* - 인트로 : 슬라이드 모션3 */
.intro-wrap .motion-type3 {margin-left: -10rem; position: absolute; top: 16.9rem; left: 50%; z-index: -1;}
.intro-wrap .motion-type3 [class^="move-img"] {width: 20rem; height: 5.6rem; position: absolute; left: 0; z-index: 3;}
.intro-wrap .motion-type3 .move-img1 {top: 0;}
.intro-wrap .motion-type3 .move-img2 {top: 5.6rem;}
.intro-wrap .motion-type3 .move-img2::after {
    content: '자주쓰는 메뉴 변경'; opacity: 0; font-size: 0; width: 15rem; height: 3.8rem; display: inline-block; background: url(../images/intro/intro_03_speech@2x.png) 50% 50% no-repeat; background-size: 100% auto; position: absolute; top: -2.6rem; right: -4.1rem; z-index: 4;
    transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-delay: 1.6s; -webkit-transition-delay: 1.6s;
    transform: scale(0); -webkit-transform: scale(0);
}
.intro-wrap .motion-type3 .move-img3 {top: 11.2rem;}
.intro-wrap .motion-type3 [class^="move-img"] img {width: 100%; height: auto;}
.slick-active .intro-slide .motion-type3 {
    z-index: -1;
    animation-name: introScaleMove3-1; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.8s; -webkit-animation-duration: 0.8s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}
@keyframes introScaleMove3-1 {
    0% {
        z-index: -1;
    }
    20% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
@-webkit-keyframes introScaleMove3-1 {
    0% {
        z-index: -1;
    }
    20% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
.slick-active .intro-slide .motion-type3 .move-img2 {
    border-radius: 0.8rem;
    border: 0.4rem solid #fff;
    box-shadow: 0 0.2rem 1.6rem 0 rgba(77, 89, 128, 0.16);
    animation-name: introScaleMove3-2; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.9s; -webkit-animation-duration: 0.9s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}
.slick-active .intro-slide .motion-type3 .move-img2::after {opacity: 1; transform: scale(1); -webkit-transform: scale(1);}
.slick-active .intro-slide .motion-type3 .move-img2 img {width: calc(100% + 0.8rem); margin: -0.4rem;}
@keyframes introScaleMove3-2 {
    0% {
        top: 5.6rem;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    50% {
        top: 0;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    100% {
        top: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
        box-shadow: none;
        border-radius: 0;
    }
}
@-webkit-keyframes introScaleMove3-2 {
    0% {
        top: 5.6rem;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    50% {
        top: 0;
    }
    100% {
        top: 0;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}
.slick-active .intro-slide .motion-type3 .move-img1 {
    animation-name: introScaleMove3-3; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.8s; -webkit-animation-duration: 0.8s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}
@keyframes introScaleMove3-3 {
    0% {
        top: 0;
    }
    50% {
        top: 5.6rem;
    }
    100% {
        top: 5.6rem;
    }
}
@-webkit-keyframes introScaleMove3-3 {
    0% {
        top: 0;
    }
    50% {
        top: 5.6rem;
    }
    100% {
        top: 5.6rem;
    }
}

/* - 인트로 : 슬라이드 모션5 */
.intro-wrap .motion-type5 {width: 23.8rem; margin-left: -11.9rem; position: absolute; top: 7rem; left: 50%; z-index: -1; opacity: 0;}
.intro-wrap .motion-type5 img {width: 100%; height: auto;}
.slick-active .intro-slide .motion-type5 {
    z-index: 4;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    animation-name: introScaleMove2; 
    animation-delay: 1.5s; -webkit-animation-delay: 1.5s;
    animation-duration: 0.8s; -webkit-animation-duration: 0.8s; 
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; 
    animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out;
}


